@keyframes bounce {
  0% {
    transform: scale(.5);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(.7);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 96px;
  padding: 0 5px;

  img {
    max-width: 96px;
    border-radius: 50%;
  }
}

.wannaBe {
  margin-top: 20px;
}

.waitMsg {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  p {
    line-height: 20px;
    font-size: 18px;
  }
}

.wishlistMsg {
  position: absolute;
  z-index: 50;
  left: 92%;
  margin-top: 30px;
  cursor: pointer;

  svg {
    fill: white;
    width: 24px;
    height: 24px;
  }
}

.presenteeWishlistWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.presenteeWishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: 'Skinny Girl', sans-serif;
  font-size: 22px;
  letter-spacing: 3px;

  p:first-child {
    width: 30%;
    min-width: 160px;
    text-align: center;
  }

  p:last-child {
    width: 70%;
    padding: 0 0 0 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.form {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  color: #f5e393;

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  .bounce {
    animation: bounce ease-in 1s;
  }

  textarea {
    background: transparent;
    margin-top: 20px;
    padding: 30px;
    outline: none;
    border: solid 1px #f6e9ab;
    border-radius: 12px;
    color: #f1eac9;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 16px;
    max-width: calc(100% - (30px * 2));

    &::placeholder {
      color: lightgray;
      opacity: .7;
    }
  }

  button {
    width: 170px;
    margin-top: 25px;

    div {
      height: 24px;
    }

    span {
      position: relative;
      top: 5px;
    }

    svg {
      fill: white;
    }
  }
}

.close {
  width: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
  cursor: pointer;

  svg {
    fill: white;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

.error {
  font-size: 18px;
  padding: 0 75px;

  p {
    line-height: 35px;
  }
}
