@import "../assets/scss/theme";

.instructions {
  text-align: center;

  .title {
    margin-top: 25px;
  }

  h1 {
    margin-top: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  p {
    line-height: 25px;
  }
}

.buttonContainer {
  text-align: center;
}

.logout {
  position: absolute;
  display: inline-flex;
  cursor: pointer;
  right: 30px;
  top: 30px;
}
